/* .carousel-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.carousel-slide {
  cursor: pointer;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  outline: none;
}

.carousel-arrow {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
