.slide-container {
 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px; /* Adjust the gap between stories */
  justify-items: center;
  row-gap: 5vh;
 
  
    @media (max-width : 1000px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* margin-lef: 50%; */
    }
 

}



.carousel-wrapper {
  margin: 10px;

}

.custom-carousel {
  width: auto;
  height: auto;
  /* margin-right: 100px; */
  /* background-color: gray; */
 
 background-color: white;
  @media (max-width : 1000px) {
   border:1px solid black;
    width: 300px;
    height: 500px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px ;
    
    
  }
  
}
.custom-carousel .control-arrow {
  display: none;
}




.slide-wrapper {
  position: relative;
  height: 70vh;
  width: 20vw;
 
  cursor: pointer;
  border:1px solid black;
  @media (max-width : 1000px) {
    border:1px solid black;
   
      width: 300px;
     height: 500px;
     
   }

}
.mod-slide-wrapper {
  position: relative;
  height: 90vh;
  width: 20vw;
 
  cursor: pointer;
  border:1px solid black;
  
  @media (max-width : 1000px) {
    border:1px solid black;
   
      width: 300px;
     height: 500px;
     
   }

}

.slide-wrapper img {
 
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.mod-slide-wrapper img {
 
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}



.slide-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: white;
  color: white;
 
}

.slide-overlay h3,
.slide-overlay p {
  margin: 0;
}

.slide-modal {
  /* width: 300px;
  height: 500px; */
  height: 90vh;
  width: 20vw;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.3) 2px 8px 8px 8px;
  @media (max-width : 1000px) {
    border:1px solid black;
   
      width: 300px;
     height: 500px;
     
   }
}

.slide-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-carousel {
  /* width: 500px;
  height: 500px; */
  height: 90vh;
  width: 20vw;
  @media (max-width : 600px) {
   
    width: 400px;
     
   }

}



.modal-carousel .control-arrow{
  display: none;
}

.slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
.slide-top-content {
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  /* text-align: center; */
  /* padding: 20px; */
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
.slide-top-content .close-buttons{
  float: right ;
  width: 5px;
  height: 10px;
  background: none;
  border: none;
  /* color: red; */


}
.slide-top-content .send-buttons{
  background: none;
  border: none;
}



.slide-content h3,
.slide-content p {
  margin: 0;
}

.slide-content h3 {
  font-size: 24px;
  font-weight: bold;
}

.slide-content p {
  font-size: 16px;
}

.carousel-indicator.active{
  background-color: white;
}
.carousel-indicator{
  justify-content: center;

 }
.bkmk-lk{
  display: flex;
  justify-content: space-between;
  

}
.bkmk-lk button{
  background: none;
  border: none;
  font-size: 20px;
}
.bookmark-button{
  float: left;
}
.bookmark-button.filled{
  color: blue;

}
.ri-heart-fill{
  color: red;
}
.carousel-arrow {
  position: fixed;
  top: 50%;

  transform: translateY(-50%);
  width: 30px;
  height: 30px;
 
  border: none;
  border-radius: 50%; 
  /* cursor: pointer; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: gray; */
  z-index: 9999;
}
.carousel-arrow-prev {
  left: 35%;
  @media (max-width : 1000px) {
    left: 10px;
     
     
   }
   @media (max-width : 600px) {
    left: 10px;
     
     
   }

 
}

.carousel-arrow-next {
  right: 35%;
  @media (max-width : 1000px) {
    right: 20px;
     
     
   }

  /* bottom: 50px; */
}
.share-btn{
  background-color: red;
  color: white;
  border-radius: 15px;
}
.slide-top-content button,i{
  font-size: 20px;
}

.show-more-button{
  height: 50px;
  width: 150px;
  background-color: #FF7373;
  margin-top: 0;
 
 
}


.custom-indicators-container{
  
  display: flex;
  width: 100%;
  
  justify-content: center;
  /* background-color: #FF7373; */
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
}
.custom-indicators-container .custom-indicator{
  width: 48vw;
 
  transition: 0.3s;
  cursor: pointer;
  margin-right:2px ;

}
.custom-indicators-container .active{
  background-color: white;
}